@import url(./fonts.css);
@import url(./partials//variable.css);

/* global style */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end navigation */

/* banner area */
.cv-btn a:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
  text-decoration: none;
}
.cv-btn a {
  color: whitesmoke;
}

.site-main .site-banner .site-title h3 {
  padding-top: 30%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vh;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* end banner area */

/* start about area */
.site-main .about-area {
  padding: 8rem 5rem;
}
.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 2rem 0;
}

/* end about area */

/* start services */

.site-main .services-area {
  padding: 7rem 2rem;
}
.site-main .services-area .services-title {
  padding: 0 14rem;
}
.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}
/* end services */

/* start project area */

.site-main .project-area {
  padding: 4rem 0;
  background-color: rgba(245, 215, 10, 0.6);
}

.site-main .project-area .button-group button {
  background-color: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}
.site-main .project-area .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}
button:focus,
button:active button:hover .btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
.site-main .project-area .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/* end project area */

/* footer area */

.footer-area {
  padding: 5rem 0;
  background: url(../image/footer-bg.png) no-repeat;
}
.footer-area .social h5 {
  font-variant: normal 500 23px/30px var(--roboto);
}

.social a > i {
  font-size: 50px;
  padding: 2rem 1rem;
}

.social a:hover {
  box-shadow: var(--box-shadow);
}

/* end footer area */

/* Responsive */

@media only screen and (max-width: 1000px) {
  .header_area .main-menu .navbar,
  .header_area .main-menu .navbar .navbar-brand,
  h4,
  .site-main .services-area,
  .site-main .services-area .services-title,
  .site-main .services-area .services-title h1,
  .subscribe {
    padding: 0;
    margin: 0;
  }

  .site-main .site-banner .site-title h1 {
    font-size: 25px;
    text-align: center;
  }
  .site-main > .services-area .services {
    width: 13rem;
  }
  .site-main .services-area .services-title h1 {
    font-size: 30px;
  }
  .card-body {
    margin-right: -100px;
  }
}
